<h1>Post details</h1>

<div class="mt-4">
  <a
    class="btn btn-outline-dark mb-4"
    role="button"
    href="/"
  >
      Go back
  </a>
  <div class="d-flex justify-content-between align-items-center">
    <p class="m-0 p-0"><%= @row['content']%></p>
    <span class="badge badge-primary badge-pill">Added at <%= @row['created_date']%></span>
  </div>
</div>