<h1>Post details</h1>

<div class="mt-4">
  <a
    class="btn btn-outline-dark mb-4"
    role="button"
    href="/"
  >
      Go back
  </a>
  <div class="d-flex justify-content-between align-items-center">
    <p class="m-0 p-0"><%= @row['content']%></p>
    <span class="badge badge-primary badge-pill">Added at <%= @row['created_date']%></span>
  </div>
</div>
<div class="mt-5">
  <h4>Comments:</h4>
  <ul  class="mt-4 mb-4 list-group">
    <% @comments.each do |row|%> 
      <li class="list-group-item">
        <%= row['content']%>
      </li>
    <%end%> 
  </ul>
  <form action="/details/<%= @row['id']%>" method="POST">
    <div class="form-group">
      <textarea
        name="content"
        class="form-control"
        rows="3"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add comment</button>
  </form>
</div>