<h2>Add new post!</h2>

<form action="/new" method="POST">
  <div class="form-group">
    <textarea
      name="content"
      class="form-control"
      rows="6"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>