<h2>Add new post!</h2>
<form action="/new" method="POST">
  <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>  
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>